{% extends "base.html" %}

{% block title %} Favourite Pokemons {% endblock%}

{% block content %}
<body>
<h1>Your favourite pokemons:</h1>
<ul>
    {% for pokemon in pokemons %}
    <li>
        <a href="{% url 'pokemons:pokemon_detail' pokemon %}">
            {{ pokemon.pokemon.pokemon_name }}
        </a>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="pokemon_id" value={{ pokemon.pokemon.pokemon_id }}>
            <input type="submit" name="favourite_form" value="Remove from favourites">
        </form>
    </li>
    {% empty %}
    <li>You didn't choose any pokemons yet.</li>
    {% endfor %}
</ul>
<a href="{% url 'home' %}">Back to Home</a>
{% endblock%}