{% extends "base.html" %}

{% block title %} Favourite Pokemons {% endblock%}

{% block content %}
<body>
  <h1>Your favourite pokemons:</h1>
  <ul>
        {% for pokemon in object_list %}
            <li>
                <a href="{% url 'pokemons:pokemon_detail' pokemon.name %}">
                        {{ pokemon.name }}
                </a>
            </li>
        {% empty %}
        <li>You didn't choose any pokemons yet.</li>
        {% endfor %}
</ul>
    <a href="{% url 'home' %}">Back to Home</a>
{% endblock%}