{% extends "base.html" %}

{% block title %} Pokemon Team {% endblock%}

{% block content %}
<body>
  <h1>Pokemons in your team:</h1>
  <ol>
        {% for pokemon in object_list %}
            <li>
                <a href="{% url 'pokemons:pokemon_detail' pokemon.name %}">
                        {{ pokemon.name }}
                </a>
            </li>
        {% empty %}
        <li>You didn't choose any pokemons yet.</li>
        {% endfor %}
</ol>
    <a href="{% url 'home' %}">Back to Home</a>
{% endblock%}