{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Pokedex {% endblock%}

{% block content %}
<h1>{{ pokemon.name |upper }}</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Abilities</th>
        <th>Moves</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ pokemon.id }}</td>
        <td>{% for types in pokemon_types_list %}
            <li>
                <a href="{% url 'pokemons:pokemon_type' types.type.name %}">{{ types.type.name }}</a>
            </li>
            {% endfor %}
        </td>
        <td>{% for abilities in pokemon_abilities_list %}
            <li>
                {{ abilities.ability.name }}
            </li>
            {% endfor %}
        </td>
        <td>{% for moves in pokemon_moves_list %}
            <li>
                <a href="{% url 'pokemons:move_details' moves.move.name %}">{{ moves.move.name }}</a>
                {% if user.is_authenticated %}
                    {% if moves.move.name in move_names %}
                        CHOSEN
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="move_name" value={{ moves.move.name }}>
                            <input type="submit" name="remove_move_form" value="Remove this move">
                        </form>
                    {% endif %}
                    <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="move_name" value={{ moves.move.name }}>
                        {% if not moves_full and moves.move.name not in move_names %}
                            <input type="submit" name="add_move_form" value="Choose this move">
                        {% endif %}
                    </form>

                {% endif %}
            </li>
            {% endfor %}
        </td>
    </tr>
    </tbody>
</table>
{% if user.is_authenticated %}

    {% if not is_favourite %}
    <form method="post">
        {% csrf_token %}
        {{ favourite_form }}
        <input type="submit" name="favourite_form" value="Add to favourites">
    </form>
    {% else %}
    <p>This pokemon is set as favourite</p>
    {% endif %}

    {% if not team_full %}
    <form method="post">
        {% csrf_token %}
        {{ team_form }}
        <input type="submit" name="team_form" value="Add to team">
    </form>
    {% endif %}

    {% if team_full %}
    <p>You already have 6 pokemons in your team. Remove
        <a href="{% url 'pokemons:pokemon_team' %}">one of them.</a>
    </p>
    {% endif %}

{% endif %}

{% if messages %}
<div id="msg">
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<a href="{% url 'pokemons:home' %}">All Pokemons</a>
<a href="{% url 'home' %}">Back to Home</a>
{% endblock%}